// Project Colors

$white:    #fff;
$main-light: #EFFFFE;
$icon-hover: #97FFF8;
$main-teal: #33C6BD;
$main-dark-teal: #099990;
$black:    #000;

// Different shades of main color
$teal-15opacity: rgba($main-teal, 0.15);
$teal-20opacity: rgba($main-teal, 0.25);
$teal-30opacity: rgba($main-teal, 0.3);





